.city-cards__container {
     margin-top: 60px;
     display: flex;
     column-gap: 50px;
}

.city-cards__section {
    display: flex;
    column-gap: 50px;
    width: 80%;
    /* background-color: aquamarine; */
}
