.city-cards__container {
     margin-top: 60px;
     display: flex;
     column-gap: 40px;
}

.city-cards__section {
    display: flex;
    column-gap: 35px;
    max-width: 80%;
    overflow: hidden;
}

.city-cards__section.full {
    max-width: 100%;
}
